@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@font-face {
  font-family: "Sizebay";
  src: url("https://static.sizebay.technology/font/stores/fontRuler/fonts/buttons-icons.woff");
}

@font-face {
  font-family: "Sizebay";
  src: url("https://static.sizebay.technology/font/stores/fontRuler/fonts/untitled-font-3.woff");
}

:root {
  --main-font: "Outfit", sans-serif;
  --main-color: #000000;
}

div.szb-vfr-btns {
  gap: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

button.vfr__button--clean {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  margin: 0;
  height: max-content;
  line-height: normal;
  outline: 1px solid #000000 !important;
  padding: 12px 16px;
  border-radius: 9999px;
  justify-content: center;
}

.vfr__button--clean:hover {
  text-decoration: none;
}

button.vfr__button--clean::before {
  display: flex;
  font-family: "Sizebay";
  font-size: 19px;
  text-transform: none;
  color: #000;
  align-self: center;
  margin-right: 8px;
}

button#szb-vfr-button:before {
  height: 13px;
  content: "\61";
}

button#szb-measurements-button:before {
  height: 11px;
  content: "\62";
}

@media screen and (max-width: 768px) {
  .vfr__container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 390px) {
  button.vfr__button--clean {
    font-size: 12px;
  }
}
